<% Tool.all.order(:id).each do |tool| %>
  <img src='<%=tool.image%>' width='150'>
  <br>
  <div id='<%=tool.id%>' class='tool'><%=tool.quantity%></div>
  <br>
  <% if @user %>
    <% if tool.quantity > 0 %>
      <%= button_to "Borrow", borrow_path({tool_id: tool.id}), method: :post, class: "borrow" %>
    <% end %>
    <% if ToolUser.where(tool_id: tool.id, user_id: session[:user_id]).first %> Use AR relation
      <%= button_to "Return", return_path({tool_id: tool.id}), method: :delete, class: "return" %>
    <% end %>
  <% end %>
<% end %>

<%= render "productcarousel" %> 
