<div class = 'container'><hr></div>
<div id= 'weatherforecast' class = 'container'>
  <div class='calendtitle'><h3><%= @current['name'] %> weather forecast</h3></div>
    <div id='present' class='col-md-2 col-xs-6'>  
    <h6>
    Current:<%= convert(@current['main']['temp']) %>°
    <br>
    High: <%= convert(@current['main']['temp_max']) %>°
    <br>
    Low: <%= convert(@current['main']['temp_min'])%>°
    <br>
    Forecast: <%= @current['weather'][0]['main']%>
    <br>
    <img src='http://openweathermap.org/img/w/<%=@current['weather'][0]['icon']%>.png'>
    </h6>
    </div>
    <% @forecasted["list"].each do |forecast| %>
              <div class='col-md-2 col-xs-6'>
                <h6>
                  Day:  <%=  (Time.at((forecast["dt"]))).strftime("%A") %> <br>
                  High:  <%= convert(forecast["temp"]["max"]) %> <br>
                  Low:  <%= convert(forecast["temp"]["min"]) %> <br>
                  Forecast:  <%= forecast["weather"][0]["main"] %> <br>
                  <img src='http://openweathermap.org/img/w/<%=forecast["weather"][0]["icon"]%>.png'>
                  <br>
                </h6>
              </div>
    <% end %>
</div>
<div class = 'container'><hr></div>
