<%= @current['name'] %> weather forecast
<br>
<%= convert(@current['main']['temp']) %>
<br>
High: <%= convert(@current['main']['temp_max']) %>
<br>
Low: <%= convert(@current['main']['temp_min'])%>
<br>
Forecast: <%= @current['weather'][0]['main']%>
<br>
<img src='http://openweathermap.org/img/w/<%=@current['weather'][0]['icon']%>.png'>
<p>
5 day forecast
High: <%= convert(@forecasted[:list][0]["temp"][max]) %>
Low: <%= convert(@forecasted[:list][0]["temp"][min]) %>
Forecast: <%= @forecasted[:weather][0]["main"]%>
<img src='http://openweathermap.org/img/w/<%=@forecasted['weather'][0]['icon']%>.png'>
</p>
