<div class = 'container'>
  <%= @current['name'] %> weather forecast
  <br>
  <%= convert(@current['main']['temp']) %>
  <br>
  High: <%= convert(@current['main']['temp_max']) %>
  <br>
  Low: <%= convert(@current['main']['temp_min'])%>
  <br>
  Forecast: <%= @current['weather'][0]['main']%>
  <br>
  <img src='http://openweathermap.org/img/w/<%=@current['weather'][0]['icon']%>.png'>

  5 day forecast
  <% @forecasted["list"].each do |forecast| %>
  <p>
  Day:  <%=  Time.at(forecast["dt"]) %> <br>
  High:  <%= forecast["temp"]["max"] %> <br>
  Low:  <%= forecast["temp"]["min"] %> <br>
  Forecast:  <%= forecast["weather"][0]["main"] %> <br>
    <img src='http://openweathermap.org/img/w/<%=forecast["weather"][0]["icon"]%>.png'><br>
  </p>
  <% end %>
</div> 
