<%= current_user.inspect %>
<div class = 'container'>
  <h3>
  <% if session[:user_id] %>
      <%= link_to "logout",  destroy_session_path %>
      <%= link_to "tools", tools_path %>
      <%= link_to "posts", posts_path %>
      <% if User.find(session[:user_id]).email == nil %>
        <a href='javascript:void(0)' onClick="$('#modal-window').modal()">subscribe</a>
      <% end %>
    </h3>
  <% else %>
      <%= link_to "login using twitter", "/auth/twitter" %>
  <% end %>
  </h3>

<div id='modal-window' class='modal fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true' >
  <div class='modal-dialog'>
    <div class='modal-content'>
      <%= render 'home/subscribe'%>
    </div>
  </div>
</div>

  <div id='startLat'></div>
  <div id='startLon'></div>

<div id='showeather'> </div>
<div id= 'calendar'>

<table>
<h2>  <%= @week2.first.strftime("%B")%> </h2>
  <tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
  </tr>
  <tr>
    <% @week1.each do |day| %>
      <td>
        <% if day.class == Date %>
          <%= day.mday %>
        <% end %>
      </td>
    <% end %>
  </tr>

  <tr>
    <% @week2.each do |day| %>
      <td>
        <% if day.class == Date %>
          <%= day.mday %>
        <% end %>
      </td>
    <% end %>
  </tr>

  <tr>
    <% @week3.each do |day| %>
      <td>
        <% if day.class == Date %>
          <%= day.mday %>
        <% end %>
      </td>
    <% end %>
  </tr>


  <tr>
    <% @week4.each do |day| %>
      <td>
        <% if day.class == Date %>
          <%= day.mday %>
        <% end %>
      </td>
    <% end %>
  </tr>


  <tr>
    <% @week5.each do |day| %>
      <td>
        <% if day.class == Date %>
          <%= day.mday %>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>
<% @week2.first.strftime("%B")%>
<%=button_to "Next", root_path(thing: "next", time: @week2.first), class: "choose btn btn-success"  %>
<%=button_to "Previous", root_path(thing: "prev", time: @week2.first), class: "choose btn btn-success"  %>
  </div>
</div>
