<div class = 'container'>
  <body>
  <div class = 'row'>
    <div class='col-md-6 aimg'>
      <%= image_tag "a.jpg" %>
    </div>
    <div class='col-md-6 cimg'>
        <%= image_tag "c.jpg"%>

    </div>
  </div>

<div class='hide' id='startLat'></div>
<div class='hide' id='startLon'></div>
<div id='showeather'></div>

<!--event button stuff-->

<div id='event-modal-window' class='modal fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden
='true' >
  <div class='modal-dialog'>
    <div class='modal-content'>
      <%= render 'events/new'%>
    </div>
  </div>
</div>

<div id= 'calendar'>
  <table class='table table-bordered'>
    <h3 class='calendtitle'>  <%= @week2.first.strftime("%B")%> </h3>
    <a id="fml"  href='javascript:void(0)' onClick="$('#event-modal-window').modal()">Add an event</a>
    <tr>
      <th class='calcol'><h4 class='small'>SUNDAY</h4></th>
      <th class='calcol'><h4 class='small'>MONDAY</h4></th>
      <th class='calcol'><h4 class='small'>TUESDAY</h4></th>
      <th class='calcol'><h4 class='small'>WEDNESDAY</h4></th>
      <th class='calcol'><h4 class='small'>THURSDAY</h4></th>
      <th class='calcol'><h4 class='small'>FRIDAY</h4></th>
      <th class='calcol'><h4 class='small'>SATURDAY</h4></th>
    </tr>
    <tr class='calrow'>
      <% @week1.each do |day| %>
        <td class='calcol'>
          <% if day.class == Date %>
            <%= day.mday %>
            <br>
            <% events = Event.where(date: day.strftime)%>
            <% events.each do |event| %>
              <%= '∙ '+event.title[0..15]%>
              <br>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr class='calrow'>
      <% @week2.each do |day| %>
        <td class='calcol'>
          <% if day.class == Date %>
            <%= day.mday %>
            <br>
            <% events = Event.where(date: day.strftime)%>
            <% events.each do |event| %>
              <%= '∙ '+event.title[0..15]%>
              <br>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr class='calrow'>
      <% @week3.each do |day| %>
        <td class='calcol'>
          <% if day.class == Date %>
            <%= day.mday %>
            <br>
            <% events = Event.where(date: day.strftime)%>
            <% events.each do |event| %>
              <%= '∙ '+event.title[0..15]%>
              <br>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr class='calrow'>
      <% @week4.each do |day| %>
        <td class='calcol'>
          <% if day.class == Date %>
            <%= day.mday %>
            <br>
            <% events = Event.where(date: day.strftime)%>
            <% events.each do |event| %>
              <%= '∙ '+event.title[0..15]%>
              <br>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <tr class='calrow'>
      <% @week5.each do |day| %>
        <td class='calcol'>
          <% if day.class == Date %>
            <%= day.mday %>
            <br>
            <% events = Event.where(date: day.strftime)%>
            <% events.each do |event| %>
              <%= '∙ '+event.title[0..15]%>
              <br>
            <% end %>
          <% end %>
        </td>
      <% end %>
    </tr>

    <% if @week6.first.class == Date %>
      <tr class='calrow'>
        <% @week6.each do |day| %>
          <td class='calcol'>
            <% if day.class == Date %>
              <%= day.mday %>
              <br>
              <% events = Event.where(date: day.strftime)%>
              <% events.each do |event| %>
                <%= '∙ '+event.title[0..15]%>
                <br>
              <% end %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
</table>

    <% @week2.first.strftime("%B")%>
    <%=button_to "Next", root_path(thing: "next", time: @week2.first), class: "pull-right choose btn btn-success"  %>
    <%=button_to "Previous", root_path(thing: "prev", time: @week2.first), class: "calendbtn2 choose btn btn-success"  %>
  </div>
</div>
</body>
