<div class = "container">


<%= form_for @post, url: {action: "create"} do |f| %>

    <p><%= f.label :title %>:</p>
    <p><%= f.text_field :title %></p>
    <p><%= f.label :content%>:</p>
    <p><%= f.text_field :content %></p>
    <p><%= f.label :image%>:</p>
    <p><%= f.text_field :image %></p>

    <%= f.submit %>


<% end %>
</div>
