<!DOCTYPE html>
<html>
<head>
  <title>Lease the Life</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Crimson+Text:400,700italic' rel='stylesheet' type='text/css'>
</head>

<body>
  <div class='subscribebox'>
    <div class='leasenav'><a href='javascript:void(0)' onClick="$('#modal-window').modal()">Get your lease on life</a></div>
    </div>
  </div>

  <div class='container'>
    <div class='maintitle'><div<a href='/'>LEASE THE LIFE</a></div>
    <div class='leftnav'>
      <%= link_to "tools", tools_path %>
      <%= link_to "posts", posts_path %>
    </div>
    <div class='rightnav'>
      <% if session[:user_id] %>
        <%= link_to "logout",  destroy_session_path %>
      <% else %>
        <%= link_to "login", "/auth/twitter" %>
      <% end %>
    </div>
</div>

 
 <div id='modal-window' class='modal fade' role='dialog' aria-labelledby='myModalLabel' aria-hidden
 ='true' >
   <div class='modal-dialog'>
     <div class='modal-content'>
       <%= render 'home/subscribe'%>
     </div>
   </div>
 </div>

<%= yield %>

</body>
</html>
